

button {
    background-color: #f60101;
    border: none;
    color: rgb(3, 3, 3);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Xanh Mono', monospace;
    font-style: italic;
    font-size: 30px;
    margin: 4px 2px;
    border-radius: 50%;
}


body {
    font-family: 'Xanh Mono', monospace;
}
